version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - network

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: dev
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGODB_URI=mongodb://mongodb:27017
    volumes:
      - ./server:/app
      - backend_node_modules:/app/node_modules
    depends_on:
      - mongodb
    networks:
      - network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: dev
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - VITE_BASE_URL=http://localhost:5000
    volumes:
      - ./client:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend
    networks:
      - network

volumes:
  mongodb_data:
    name: movie-booking-mongodb-data
  backend_node_modules:
  frontend_node_modules:

networks:
  network:
    driver: bridge
